@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 * 
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 * 
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

* {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

p {
	color: #000000;
}

label {
	color: #000000;
}

span {
	color: #000000;
}

h1 {
	font-size: 18pt;
}

h2 {
	font-size: 14pt;
	margin: 10px;
}

#mainUI {
	margin: 0;
	overflow: hidden;
}

#displayUIDiv {
	position: relative;
	float: left;
	margin: 10px 10px 0 10px;
	cursor: nw-resize;
}

#applicationsDiv {
	position: absolute;
	overflow: hidden;
	background-color: #B4B4B4;
	margin: 2px 0 0 2px;
}

#sage2UICanvas {
	position: absolute;
	border: solid 2px #565656;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999;
}

#menuContainer {
	width: 100%;
	float: left;
	text-align: center;
}

#menuUI {
	margin: 0 auto;
	white-space: nowrap;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

#menuUI tr td {
	min-width: 120px;
	text-align: center;
}

#menuUI tr td img {
	display: block;
	margin: 8px auto;
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}

#menuUI tr td:hover img {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	background-color: rgba(0,0,0,0);
}

#menuUI tr td p {
	white-space: nowrap;
	display: inline;
	padding: 2px 8px 2px 8px;
	color: #FFFFFF;
	background-color: #787878;
	border-radius: 8px;
	opacity: 1.0;
	cursor: default;
	-webkit-transition: opacity 100ms ease-in-out;
	-moz-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
}

#menuUI tr td:hover img + p{
	opacity: 1.0;
}

#textWidthTest {
	white-space: nowrap;
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
}

.appWindow {
	display: block;
	position: absolute;
}

.appWindowTitle {
	position: absolute;
	border: solid 1px #6C6C6C;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.appWindowArea {
	position: absolute;
	border: solid 1px #6C6C6C;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.appWindowIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-user-drag: none;
	-moz-user-drag: none;
	user-drag: none;
}


.clear {
	clear: both;
}


/***** Light Box    *****/
#sage2pointerDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#appLauncherDialog {
	left: 15%;
	top: 15%;
	width: 70%;
	height: 70%;
}

#appListContainer {
	position: absolute;
	left: 12px;
	top: 12px;
	margin: 0;
	overflow: scroll;
}

#appList {
	width: 100%;
	background-color: #484848;
}

#appList p {
	color: #FFFFFF;
}

#appOpenBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#appCloseBtn {
	position: absolute;
	right: 75px;
	bottom: 10px;
}

#mediaBrowserDialog {
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
}

#fileListContainer {
	position: absolute;
	left: 12px;
	top: 12px;
	margin: 0;
	background-color: #484848;
	overflow: scroll;
}

#fileListElems {
	text-align: left;
}

#fileListElems label {
	color: #FFFFFF;
}

#fileListElems li {
	color: #FFFFFF;
}

#metadata {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 12px;
	text-align: center;
	background-color: #484848;
	border-left: solid 1px #000000;
}

#thumbnail {
	margin-top: 5%;
	border: none;
}

#metadata_text {
	display: block;
	color: #FFFFFF;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}

#fileOpenBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#fileCloseBtn {
	position: absolute;
	right: 75px;
	bottom: 10px;
}
#fileDeleteBtn {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
#fileUploadBtn {
	position: absolute;
	left: 82px;
	bottom: 10px;
}

#arrangementDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


#arrangementItems {
	margin: 10px 10px 66px 10px;
	overflow: auto;
}

#clearcontentContainer {
	width: 100px;
	float: left;
	text-align: center;
}

#tilecontentContainer {
	width: 100px;
	float: left;
	text-align: center;
}

#savesessionContainer {
	width: 100px;
	float: left;
	text-align: center;
}

#arrangementCloseBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}



#infoDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#infoItems {
	margin: 10px 10px 66px 10px;
	overflow: auto;
}
#helpContainer {
	width: 100px;
	float: left;
	text-align: center;
}
#adminContainer {
	width: 100px;
	float: left;
	text-align: center;
}
#infoContainer {
	width: 100px;
	text-align: center;
}
#informationContainer {
	width: 100px;
	float: left;
	text-align: center;
}
#infoCloseBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#settingsDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#settingsItems {
	margin: 10px 10px 66px 10px;
	overflow: auto;
}

#browserDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#browserItems {
	margin: 10px 10px 66px 10px;
	overflow: auto;
}

#browserItemsContainer {
	width: 400px;
	float: left;
	margin-right: 10px;
}

#browserItemsContainer td {
	padding-bottom: 4px;
}

#openWebpageUrl {
	width: 330px;
	height: 16px;
}

#browserOpenBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#browserCloseBtn {
	position: absolute;
	right: 90px;
	bottom: 10px;
}


#sage2PointerSettingsContainer {
	width: 225px;
	float: left;
	margin-right: 10px;
}

#screenSharingSettingsContainer {
	width: 225px;
	float: left;
}

#sage2PointerSettingsContainer td {
	padding-bottom: 4px;
}

#screenSharingSettingsContainer td {
	padding-bottom: 4px;
}

#sage2PointerLabel {
	width: 120px;
	height: 16px;
}

#sage2PointerColor {
	width: 50px;
	height: 25px;
}

#screenShareResolution {
	width: 100px;
}
#screenShareQuality {
	width: 100px;
}

#settingsCloseBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#ffShareScreenDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 265px;
	height: 60px;
}

#ffShareScreenBtn {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
#ffShareWindowBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}


#localfileDialog {
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width:  510px;
	height: 100px;
}

#cancelFilesBtn2 {
	position: absolute;
	right: 10px;
	top: 12px;
}

#localfileItems {
	margin: 10px 10px 66px 10px;
	overflow: auto;
}


#uploadDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 310px;
	height: 60px;
}
#localFilesBtn {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
#dropboxFilesBtn {
	position: absolute;
	left: 90px;
	bottom: 10px;
}
#cancelFilesBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#blackoverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 10001;
	opacity: .65;
	cursor: default;
}

#sage2MobileContainer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #464646;
	z-index: 10001;
	cursor: default;
}

#sage2Mobile {
	width: 100%;
	height: 100%;
}

#sage2MobileTrackpad {
	width: 100%;
	height: 80%;
	border: solid 3px #000000;
	color: #FFFFFF;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	background: url('../images/trackpad.svg') no-repeat;
    background-position: 50% 70%;
    background-size: 55vh;
    background-origin: content-box;
    padding: 10px;
}

#sage2MobileButtons {
	width: 100%;
	height: 20%;
}

#sage2MobileLeftButton {
	float: left;
	width: 50%;
	height: 100%;
	border: solid 3px #000000;
	color: #FFFFFF;
	font-size: 16px;

	background: url('../images/mouse-left.svg') no-repeat;
    background-position: 50% 0;
    background-size: contain;
    background-origin: content-box;
    padding: 5px;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#sage2MobileRightButton {
	float: left;
	width: 50%;
	height: 100%;
	border: solid 3px #000000;
	color: #FFFFFF;
	font-size: 16px;

	background: url('../images/mouse-right.svg') no-repeat;
    background-position: 50% 0;
    background-size: contain;
    background-origin: content-box;
    padding: 5px;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.fileItem {
	cursor: default;
}

.button {
	padding: 10px 12px 10px 12px;
	border-radius: 12px;
	color: #FFFFFF;
	background-color: #787878;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:active {
	background-color: #565656;
}

.dialog {
	display: none;
	position: absolute;
	border: 4px solid #787878;
	border-radius: 12px;
	background-color: #FFFFFF;
	z-index: 10002;
	overflow: hidden;
	cursor: default;
}

/***** File Browser *****/

.css-treeview {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.css-treeview ul,
.css-treeview li {
	padding: 0;
	margin: 6px 3px 0 3px;
	list-style: none;
	display: block;
	white-space: nowrap;
}

.css-treeview input {
	position: absolute;
	opacity: 0;
}

.css-treeview label {
	cursor: pointer;
}

.css-treeview input + label {
	background: url('../images/dir-closed.svg') no-repeat;
	background-size: 32px 17px;
    padding: 3px 0 3px 42px;
    background-position: 0 0;
}

.css-treeview input:checked + label {
	background: url('../images/dir-open.svg') no-repeat;
	background-size: 32px 17px;
}

.css-treeview input ~ ul {
	margin: 0;
	display: none;
}

.css-treeview input ~ ul > li {
	margin: 0;
	padding-left: 48px;
	font-size: 11px;
}

.css-treeview input:checked ~ ul {
	display: block;
}

/******** Text - Width Test ********/
#textWidthTest {
	font-size: 11px;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
}
